@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    color:inherit;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none; 
}
html, body {
    overflow: hidden;
  }
.banner{
    background-image: url(lrcbg.png);
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;  
    height:900px;
}

h1{
    font-family: "Playfair Display", serif;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 40px;
    color: rgb(207, 47, 47);
}

h2{
    font-family: "Castoro", serif;
    color:#fff;
    padding-right: 600px;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 30px;
}